.image-container {
    max-width: 625px;
    position: absolute;

}


.image
{
    width: 100%;
    max-height: auto;
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;

}